*{
    margin: 0;
    padding: 0;
}

.navbar ul{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    background-color: #f18973;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li{
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    /*avrunder kanter*/

}

.navbar ul li:hover{
    background-color: #bc5a45;
}

@media(max-width: 600px){
    .navbar ul{
        flex-direction: column;
    }


    .navbar ul li{
        display: flex;
        justify-content: center;
    }
}

.boks{
    margin: 100px;
    text-align: center;
    border-bottom: 4px solid #bc5a45;
    font-size: 25px;
}

.kontaktinfo{
    /*margin: 100px;*/
    text-align: center;
    font-size: 3vh;
    
}

